# Twitch API credentials
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

DEFAULT_CLIP_PROVIDER=twitch_api

# Database configuration
DATABASE_URL="file:./dev.db"

# App URL (used for Twitch embed)
NEXT_PUBLIC_APP_URL="http://localhost:3000"
